<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          font-family: Arial, sans-serif;
        }
    
        table {
          border-collapse: collapse;
          width: 100%;
        }
    
       th, td {
          border: 1px solid black;
          padding:5px;
        }
    
        .team {
          background-color: #ccc;
        }
    
        .score {
          text-align: right;
        }
      </style>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th class="team">Team</th>
            <th class="score">Runs</th>
            <th class="score">Wickets</th>
            <th class="score">Overs</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="team">India</td>
            <td class="score">250</td>
            <td class="score">3</td>
            <td class="score">50</td>
          </tr>
          <tr>
            <td class="team">Australia</td>
            <td class="score">150</td>
            <td class="score">6</td>
            <td class="score">30</td>
          </tr>
        </tbody>
      </table>
</body>
</html>